.characterShowcase {
    display:block !important;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.characterShowcaseButton {
    display: block;
    font-size: 20px; 
    outline: none;
    border: none;
    border-radius: 10px;
    background: none;
    padding: 10px;
    color:white;
    font-family: inherit;
    text-align: center;
}

.characterShowcaseButton:hover {
    background-color: rgb(40,40,40);
}

.description{
    text-align: left;
    color:white;
    font-family: inherit;
}

#Char1Details{
    display: none;
}
#Char2Details{
    display: none;
}
#Char3Details{
    display: none;
}